<app-loader *ngIf = "loading"></app-loader>
<div class="container" *ngIf = "!loading">

  <mat-card class = "general-info">
    <div class="info-container">
      <mat-list>
        <mat-list-item>Email: {{ currentUser?.email }}</mat-list-item>
        <mat-list-item>Id бассейна: {{ currentUser?.pools[poolsIndex].poolId }}</mat-list-item>
        <mat-list-item>Название бассейна: {{ currentUser?.pools[poolsIndex].poolName }}</mat-list-item>
        <mat-list-item>
          Освещение бассейна:
          {{ poolsIndex === 1
            ? (relayInfo && relayInfo['R1-lightBig'] | state)
            : (relayInfo && relayInfo['R2-lightGM'] | state) }}
        </mat-list-item>
        <mat-list-item>
          Нагреватель:
          {{ poolsIndex === 1
            ? (relayInfo && relayInfo['R3-heatBig'] | state)
            : (relayInfo && relayInfo['R4-heatGM'] | state) }}
        </mat-list-item>
        <mat-list-item>
          Система водоподготовки:
          {{ relayInfo && relayInfo['R5-water'] | state }}
        </mat-list-item>
      </mat-list>
      <img class = "pool_image" src="http://ipic.su/img/img7/tn/BIG_bass_Lutck.1550263763.jpg" alt="Pool's picture">
    </div>
  </mat-card>

  <app-graph-options [poolsIndex] = "poolsIndex" [itemIndex] = "itemIndex" [currentUser] = "currentUser" [currentPool]="currentPool"></app-graph-options>

  <mat-card class = "channel-info">
      <app-channel-info (onchangeGraph) = "changeGraph($event)" [currentPool] = "currentPool"></app-channel-info>
  </mat-card>
</div>
