mat-card{
    margin: 10px;
    width: calc(100% / 3 - 40px) ;
}
.general-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
mat-list-item{
  font-family: 'Montserrat', sans-serif;
}
.graphs_options{
  display: flex;
  flex-direction: column;
}

app-graph-options{
  width: calc(100% / 3);
}

.pool_image{
  object-fit: contain;
  order: 1;
  margin: 0 auto;
  padding: 20px;
}
mat-list{
  order: 2;
}

@media screen and (max-width: 1300px) and (min-width: 860px) {
  mat-card, app-graph-options {
    width: calc(50% - 20px);
  }

}

@media screen and (max-width: 860px) {
  mat-card, app-graph-options{
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 600px) {

}
@media screen and (max-width: 600px) {

}
