<div class="container">
  <mat-card class = "general-info">
    <div class="info-container">
      <mat-list>
        <mat-list-item>Email: {{ currentUser?.email }}</mat-list-item>
        <mat-list-item>Id бассейна: {{ currentUser?.pools[poolsIndex].poolId }}</mat-list-item>
        <mat-list-item>Название бассейна: {{ currentUser?.pools[poolsIndex].poolName }}</mat-list-item>
        <mat-list-item>Освещение бассейна: {{ poolsIndex === 1 ? dataOutput.ledBig : dataOutput.ledGm }}</mat-list-item>
        <mat-list-item>Температура бассейна: {{ poolsIndex === 1 ? dataOutput.tempBig : dataOutput.tempGm }}</mat-list-item>
      </mat-list>
      <img class = "pool_image" src="http://ipic.su/img/img7/tn/BIG_bass_Lutck.1550263763.jpg" alt="Pool's picture">
    </div>
  </mat-card>
  <div class="graph-container">
    <mat-card class="graphs_options">
      <mat-form-field>
        <input type="text" matInput placeholder="Сколько часов должен отображать график" value="24"  [(ngModel)]="hours">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Сколько точек должно быть в одном часу" value="20"  [(ngModel)]="points">
      </mat-form-field>
      <button mat-raised-button (click) = "changeGraphsOptions(hours*points)">Изменить</button>
    </mat-card>
    <mat-card class = "graph">
      <app-graph [index] = "itemIndex" [currentPool] = "currentUser?.pools[poolsIndex].poolId" [results] = "results"></app-graph>
    </mat-card>
  </div>
  <mat-card class = "channel-info">
      <app-channel-info (onchangeGraph) = "changeGraph($event)" [currentPool] = "currentUser?.pools[poolsIndex].poolId"></app-channel-info>
  </mat-card>
</div>
