<form class="graph-container" [formGroup]="graphForm">

  <mat-form-field>
    <input type="text" matInput placeholder="Сколько часов должен отображать график" [value]="hoursValue" [formControl]="hours">
  </mat-form-field>

  <mat-error *ngIf="hours.invalid">
    Колличество часов должно быть чиловым в промежутке от 1 до 50
  </mat-error>

  <mat-form-field>
    <input type="text" matInput placeholder="Сколько точек должно быть в одном часу" [value]="pointsValue"  [formControl]="points">
  </mat-form-field>

  <mat-error *ngIf="points.invalid">
    Колличество точек должно быть чиловым в промежутке от 1 до 50
  </mat-error>

  <button mat-raised-button (click) = "changeGraphsOptions(hours.value*points.value)">Изменить</button>


  <mat-card class="graphs_options">

    <app-graph-options></app-graph-options>

  </mat-card>

  <mat-card class = "graph">
    <app-graph [index] = "itemIndex" [currentPool] = "currentUser?.pools[poolsIndex].poolId" [results] = "results"></app-graph>
  </mat-card>

</form>
