header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 3px 5px 0px rgba(163,163,163,1);
    background: white;
    position: absolute;
    width: 100%;
    height: 60px;
}
header h3, h4{
    font-weight: 400;
    color: darkslategrey
}

button{
    height: 40px;
    margin-left: 20px;
}
nav {
    flex: 1;
    padding-left: 20px;
    align-self: stretch;
    display: flex;
    align-items: center;
}
a {
    padding: 10px 10px;
    color: grey;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.5s ease;
    border-bottom: 2px solid transparent;
}
a:hover{
    background: rgb(238, 237, 237);
    color: rgb(59, 59, 59);
}
a.active{
  border-bottom: 2px solid #181d8b;
  color: #181d8b;
}

.burger-menu{
  position: relative;
  height: 20px;
  width: 30px;
  margin: 0 20px;
  display: none;
  flex: 1;
  cursor: pointer;
}
.burger {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 30px;
  height: 3px;
  opacity: 1;
}
.burger::before {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 30px;
  height: 3px;
  top: 10px;
  content: "";
  display: block;
}
.burger::after {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 30px;
  height: 3px;
  top: 20px;
  content: "";
  display: block;
}
.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.burger-menu.active .burger {
   background-color: transparent;
   transition: border-color ease-in .1s;
 }

.burger-menu.active .burger:before {
   top: 10px;
   transform: rotate(-45deg);
   transition: top ease-out .2s, transform .2s ease-out .3s;
 }

.burger-menu.active .burger:after {
   top: 10px;
   transform: rotate(45deg);
   transition: top ease-out .2s, transform .2s ease-out .3s;
 }
.version{
  position: absolute;
  padding-left: 10px;
  margin: 0;
  white-space: nowrap;
  font-size: 12px;
}

@media (max-width: 1080px) {
  .burger-menu {
    display: block;
  }
  nav{
    left: -1500px;
    transition: left 0.5s ease .3s;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 100;
    background-color: white;
  }
  .burger-menu.active + nav{
    left: 0;
    transition: left 0.5s ease;
  }
}
.mat-basic{
  background-color: green;
}
.readyController{
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .version {
    font-size: 10px;
  }
  .burger::before {
    top: 5px;
  }
  .burger::after {
    top: 10px;
  }
  nav a{
    font-size: 10px;
  }
}
