.keys{
    background: #e6f1ff;
    padding: 10px 15px;
    min-width: 250px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.values{
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
h4{
    padding: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}
@media screen and (max-width: 480px) {
  .keys {
    min-width: 160px;
  }
  h4{
    font-size: 16px;
  }
  .mat-list-item{
    margin: 10px 0;
  }
}
