.container{
}

mat-card, app-graph-options{
  width: calc(50% - 20px);
  margin: 10px;
}

@media screen and (max-width: 600px){
  mat-card, app-graph-options{
    width: calc(100% - 20px);
    margin: 10px;
  }
}
