<div class="container">

  <mat-card class="channel-options">
    <app-channel-info (onchangeGraph) = "changeGraph($event)" [currentPool]="'848346'"></app-channel-info>
  </mat-card>


  <app-graph-options [poolsIndex] = "poolsIndex" [itemIndex] = "itemIndex" [currentUser] = "currentUser" [currentPool]="'848346'"></app-graph-options>


  <mat-card class="channel-options">
    <app-channel-info (onchangeGraph) = "changeGraph($event)" [currentPool]="'848347'"></app-channel-info>
  </mat-card>


  <app-graph-options [poolsIndex] = "poolsIndex" [itemIndex] = "itemIndex" [currentUser] = "currentUser" [currentPool]="'848347'"></app-graph-options>


</div>

