<div class="container">
  <div class="table-container" *ngFor = "let data of modesData; let i = index">
    <h3>{{data.name}}</h3>
    <div class="button-container">
      <div class="common-buttons">
        <button mat-raised-button (click)="addRow(i)"> Добавить строку </button>
        <button mat-raised-button (click)="deleteRow(i)"> Удалить строку </button>
        <button mat-raised-button (click)="clear(i)"> Очистить таблицу </button>
      </div>
      <div class="main-button">
        <button mat-raised-button color="primary" (click)="sendTable(i)"> Отправить таблицу</button>
      </div>
    </div>
    <table>

      <tr>
        <th> День недели </th>
        <th> Часы </th>
        <th> Минуты </th>
        <th> Сост. </th>
        <th> Отправка </th>
      </tr>

      <tr *ngFor = "let item of data.value; let j = index">
        <td>
          <p appEditable (contentBlur)="changeData($event, i, j, 'day')">{{ item.day }}</p>
        </td>
        <td>
          <p appEditable (contentBlur)="changeData($event, i, j, 'hours')">{{ item.hours }}</p>
        </td>
        <td>
          <p appEditable (contentBlur)="changeData($event, i, j, 'minutes')">{{ item.minutes | minutes }}</p>
        </td>
        <td>
          <p appEditable (contentBlur)="changeData($event, i, j, 'state')">{{ item.state }}</p>
        </td>
        <td><button
          mat-raised-button color="primary"
          [disabled]="false" (click)="sendRow(i, j)"
          *ngIf = "item.day !== undefined && item.hours !== undefined && item.minutes !== undefined && item.state !== undefined"
        >Отправить строку</button></td>
      </tr>

    </table>
  </div>
</div>
<!--(input) = "changeData($event.target.textContent, i, j, 'day')">{{ item.day || '' | dayOfWeek}}-->
<!--<td contenteditable (keydown.enter) = "changeData($event.target.textContent, i, j, 'day')">{{ item.day | dayOfWeek }}</td>-->
