<app-loader *ngIf = "loading"></app-loader>
<div class="container" *ngIf = "!loading">
  <button
    mat-raised-button
    color="primary"
    (click)="sendAllTables()"
    class="sendAllTables"
    [disabled]="loading">
    Записать таблицы расписаний
  </button>

  <section class="loader-container">
    <div class="box" *ngIf = "loading">
      <div class="loader">Загрузка...</div>
      <mat-progress-bar
        class="loader-progressbar"
        color="accent"
        [mode]="progressMode"
        [value]="progressValue"
        [bufferValue]="progressBufferValue">
      </mat-progress-bar>
    </div>
  </section>

  <div class="table-container" *ngFor = "let data of modesData; let i = index">
    <h3>{{data.name}}</h3>
    <div class="button-container">
      <div class="common-buttons">
        <button mat-raised-button (click)="clear(i)"> Очистить таблицу </button>
      </div>
    </div>
    <table>

      <tr>
        <th> День недели </th>
        <th> Часы </th>
        <th> Минуты </th>
        <th> Сост. </th>
        <th> Удалить строку </th>
        <th> Добавить строку </th>
      </tr>

      <tr *ngFor = "let item of data.value; let j = index">
        <td>
          <input contenteditable="true"
                 [formControl]="daysControl"
                 [value]="item.day"
                 (change)="changeData($event, i, j, 'day')"
                 (keyup.enter) = "removeBlur($event)"
          >
        </td>
        <td>
          <input contenteditable="true"
                 [formControl]="hoursControl"
                 [value]="item.hours"
                 (change)="changeData($event, i, j, 'hours')"
                 (keyup.enter) = "removeBlur($event)">
        </td>
        <td>
          <input contenteditable="true"
                 [formControl]="minutesControl"
                 [value]="item.minutes"
                 (change)="changeData($event, i, j, 'minutes')"
                 (keyup.enter) = "removeBlur($event)">
        </td>
        <td>
          <input contenteditable="true"
                 [formControl]="stateControl"
                 [value]="item.state"
                 (change)="changeData($event, i, j, 'state')"
                 (keyup.enter) = "removeBlur($event)">
        </td>
        <td>
          <button mat-mini-fab (click)="deleteRow(i, j)"> - </button>
        </td>
        <td>
          <button mat-mini-fab (click)="addRow(i, j)"> + </button>
        </td>
      </tr>

    </table>
  </div>
</div>

