<div class="container">
    <form action="">
      <h4>Управление большим бассейном</h4>
      <mat-card class="form-field-container">
        <mat-slide-toggle
          [color]="color"
          [checked]="checkedBig"
          [disabled]="disabled"
          (change) = "changeLedBig()"
          >
          Освещение
        </mat-slide-toggle>
      </mat-card>
      <mat-card class="form-field-container">
        <mat-form-field>
          <input type="text" matInput placeholder="Температура" value="25.5" [(ngModel)] = "temperatureBig" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-raised-button>Изменить температуру</button>
      </mat-card>
      <mat-card class="form-field-container">
        <mat-form-field>
            <input type="text" matInput placeholder="Гистерезис" value="0.5" [(ngModel)] = "hysteresisBig" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-raised-button>Изменить гистерезис</button>
      </mat-card>
    </form>

  <form action="">
    <h4>Управление гидромассажным бассейном</h4>
    <mat-card class="form-field-container">
      <mat-slide-toggle
        [color]="color"
        [checked]="checkedGm"
        [disabled]="disabled"
        (change) = "changeLedGm()">
        Освещение
      </mat-slide-toggle>
    </mat-card>
    <mat-card class="form-field-container">
      <mat-form-field>
        <input type="text" matInput placeholder="Температура" value="25.5" [(ngModel)] = "temperatureGm" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button>Изменить температуру</button>
    </mat-card>
    <mat-card class="form-field-container">
      <mat-form-field>
        <input type="text" matInput placeholder="Гистерезис" value="0.5" [(ngModel)] = "hysteresisGm" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button>Изменить гистерезис</button>
    </mat-card>
  </form>

    <form action="#" class = "sensors">
      <h4>Сигналы тревоги</h4>
      <mat-card class="form-field-container">
        <table>
        <tr class="sensor">
          <td>Датчик затопления</td>
          <td><button mat-mini-fab [color]="managingInfo[6]?.value?'basic':'warn'"></button></td>
        </tr>
          <tr class="sensor">
            <td>Герконовый датчик уровня в расходной емкости ph на два бассейна</td>
            <td><button mat-mini-fab [color]="managingInfo[7]?.value?'basic':'warn'"></button></td>
          </tr>
        <tr class="sensor">
          <td>Герконовый датчик уровня в расходной емкости Cl для бассейна</td>
          <td><button mat-mini-fab [color]="sensorsInfo[0]?.value?'basic':'warn'"></button></td>
        </tr>
        <tr class="sensor">
          <td>Герконовый датчик уровня в расходной емкости активного кислорода для гидромассажного бассейна</td>
          <td><button mat-mini-fab [color]="sensorsInfo[1]?.value?'basic':'warn'"></button></td>
        </tr>
        <tr class="sensor">
          <td>Сигнал аварии от автоматического 6-ти позиционного вентеля бассейна(Сухой контакт)</td>
          <td><button mat-mini-fab [color]="sensorsInfo[2]?.value?'basic':'warn'"></button></td>
        </tr>
        <tr class="sensor">
          <td>Сигнал аварии от автоматического 6-ти позиционного вентеля г/м бассейна(Сухой контакт)</td>
          <td><button mat-mini-fab [color]="sensorsInfo[3]?.value?'basic':'warn'"></button></td>
        </tr>
        <tr class="sensor">
          <td>Сигнал нижний/верхний датчик уровня воды емкости бассейна(Сухой контакт)</td>
          <td><button mat-mini-fab [color]="sensorsInfo[4]?.value?'basic':'warn'"></button></td>
        </tr>
        <tr class="sensor">
          <td>Сигнал нижний/верхний датчик уровня воды емкости г/м бассейна(Сухой контакт)</td>
          <td><button mat-mini-fab [color]="sensorsInfo[5]?.value?'basic':'warn'"></button></td>
        </tr>
        <tr class="sensor">
          <td>Сигнал тревоги резерв</td>
          <td><button mat-mini-fab [color]="sensorsInfo[6]?.value?'basic':'warn'"></button></td>
        </tr>
        </table>
      </mat-card>
    </form>

  <form action="">
    <h4>Система водоподготовки</h4>
    <mat-card class="form-field-container">
      <h3>Настройки режима</h3>
      <mat-form-field>
        <mat-label>Mode</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="mode">
          <mat-option *ngFor="let mode of modes" [value]="mode">
            {{mode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click) = "changeMode(selectedValue)">Изменить режим</button>
    </mat-card>
    <mat-card class="form-field-container">
      <mat-slide-toggle
        [color]="color"
        [checked]="checkedRelay"
        [disabled]="disabled"
        (change) = "changeRelay()">
        Включение резервного реле
      </mat-slide-toggle>
    </mat-card>
  </form>
</div>
