mat-form-field{
  padding-right: 20px;
}
.form-field-container{
  padding: 10px;
}
h4{
  text-transform: uppercase;
  text-align: center;
  color: #00858b;
  font-size: 25px;
  margin: 10px;
}
h3{
  font-weight: normal;
}
.container{
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.mat-card{
  margin: 5px 10px;
  padding: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 20px);
  font-family: 'Montserrat', sans-serif;
}
.mat-stroked-button{
  display: block;
}
.mat-basic{
  background-color: green;
}
.sensors{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
td{
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
}

label {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 16px;
  border-radius: 40px/40px;
  transition: all 0.5s ease;
  background-color: #9c9c9c;
  cursor: pointer;
}
label:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 22px;
  width: 22px;
  left: -3px;
  top: -3.5px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.5s ease;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  cursor: pointer;
}

input:checked+label {
  background-color: rgba(255,64,129,.54);
}

input:checked+label:after {
  background-color: #ff4081;
}

input:checked+label:after {
  left: calc(100% - 22px);
}

.ios-handler span {
  padding-left: 10px;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
  h4 {
    font-size: 20px;
  }
}

