<app-loader *ngIf = "loading"></app-loader>
<div class="container" *ngIf = "!loading">

    <form action="#" [formGroup]="settingsBig" >

      <h4>Управление большим бассейном</h4>

      <mat-card class="form-field-container">

        <div class="ios-handler">
          <input
            type="checkbox"
            id="ios-handler"
            [checked]="this.relay && this.relay['R1-lightBig']"
            formControlName="led"
            (change) = "changeLedBig()"
            class="switch"
            hidden>
          <label for="ios-handler" class="switch-label">
          </label>
          <span>Освещение</span>
        </div>

      </mat-card>

      <mat-card class="form-field-container">

          <p>Температура Дозирующей Станции: <span>{{ tempDesconeBig }}</span></p>

          <p>Нагреватель:<span> {{ relay && relay['R3-heatBig'] ? 'Включен' : 'Выключен' }}</span></p>

          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Температура"
              formControlName="temperature"
              [value] = "controls && controls['tempMK']['tempBig']">
          </mat-form-field>

          <mat-error *ngIf="settingsBig.controls['temperature'].invalid && settingsBig.controls['temperature'].dirty">
             Температра должна быть задана в интервале от 1 до 50
          </mat-error>

          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Гистерезис"
              formControlName="hysteresis"
              [value] = "controls && controls['tempMK']['gistBig']">
          </mat-form-field>

          <mat-error *ngIf="settingsBig.controls['hysteresis'].invalid && settingsBig.controls['hysteresis'].dirty">
            Гистерезис должен быть задан в интервале от 0.1 до 3.0
          </mat-error>

          <button mat-raised-button (click) = "changeTemperatureBig()">Заменить параметры регулирования</button>
      </mat-card>
    </form>

  <form action="#" [formGroup]="settingsGm">

    <h4>Управление г/м бассейном</h4>

    <mat-card class="form-field-container">

      <div class="ios-handler">
        <input
          type="checkbox"
          id="ios-handler-2"
          [checked]="relay && relay['R2-lightGM']"
          formControlName="led"
          class="switch"
          (change) = "changeLedGm()"
          hidden>
        <label for="ios-handler-2" class="switch-label">
        </label>
        <span>Освещение</span>
      </div>

    </mat-card>

    <mat-card class="form-field-container">

      <p>Температура Дозирующей Станции: <span>{{ tempDesconeGm }}</span></p>

      <p>Нагреватель: <span> {{ relay && relay['R4-heatGM'] ? 'Включен' : 'Выключен' }}</span></p>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Температура"
            formControlName="temperature"
            [value] = "controls && controls['tempMK']['tempGM']">
        </mat-form-field>

        <mat-error *ngIf="settingsGm.controls['temperature'].invalid && settingsGm.controls['temperature'].dirty">
          Температра должна быть задана в интервале от 1 до 50
        </mat-error>


        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Гистерезис"
            formControlName="hysteresis"
            [value] = "controls && controls['tempMK']['gistGM']">
        </mat-form-field>

        <mat-error *ngIf="settingsGm.controls['hysteresis'].invalid && settingsGm.controls['hysteresis'].dirty">
          Гистерезис должен быть задан в интервале от 0.1 до 3.0
        </mat-error>

        <button mat-raised-button (click) = "changeTemperatureGm()">Заменить параметры регулирования</button>

    </mat-card>

  </form>

    <form action="#" class = "sensors">

      <h4>Сигналы тревоги</h4>

      <mat-card class="form-field-container">

        <table>

          <tr class="sensor">
            <td>Датчик затопления</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A1-flood']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Герконовый датчик уровня в расходной емкости ph на два бассейна</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A2-level-PH']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Герконовый датчик уровня в расходной емкости Cl для бассейна</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A3-level-Cl']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Герконовый датчик уровня в расходной емкости активного кислорода для гидромассажного бассейна</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A4-level-K2']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Сигнал аварии от автоматического 6-ти позиционного вентиля бассейна(Сухой контакт)</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A5-failure-6B']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Сигнал аварии от автоматического 6-ти позиционного вентиля г/м бассейна(Сухой контакт)</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A6-failure-6G']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Сигнал нижний/верхний датчик уровня воды емкости бассейна(Сухой контакт)</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A7-level-Big']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Сигнал нижний/верхний датчик уровня воды емкости г/м бассейна(Сухой контакт)</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A8-level-Gm']?'basic':'warn'"></button></td>
          </tr>

          <tr class="sensor">
            <td>Сигнал тревоги резерв</td>
            <td><button mat-mini-fab [color]="alarms && alarms['A9-reserve-1']?'basic':'warn'"></button></td>
          </tr>

        </table>

      </mat-card>

    </form>

  <form action="#">

    <h4>Система водоподготовки</h4>

    <mat-card class="form-field-container">

      <p>Водоподготовка: <span>{{ relay && relay['R5-Water'] ? 'Включена' : 'Выключена'}}</span></p>
      <h3>Настройки режима</h3>

        <mat-label>Mode</mat-label>

        <select [(ngModel)]="selectedValue" name="mode" (change)="changeMode(selectedValue)" >
          <option *ngFor="let mode of modes" [value]="mode">{{mode}}</option>
        </select>

      <button mat-raised-button (click) = "changeMode(selectedValue)">Переключить режим</button>
    </mat-card>

    <h4>Включение резервного реле</h4>
    <mat-card class="form-field-container">

      <div class="ios-handler">
        <input
          type="checkbox"
          id="ios-handler-3"
          class="switch"
          [checked]="relay && relay['R6-reserve']"
          (change) = "changeRelay()"
          hidden>
        <label for="ios-handler-3" class="switch-label">
        </label>
        <span>Включение резервного реле</span>
      </div>


    </mat-card>
  </form>


</div>
