@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic');

:root{
  --main-bg:  linear-gradient(to right, rgba(224,250,255,1) 0%, rgba(132,212,232,1) 100%);
  --main-font: #4e5157;
  --light-grey: #ececec;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: auto;
  max-width: 300px;
}
.container{
  background: var(--main-bg);
  min-height: 100vh;
  padding-bottom: 20px;
  display: grid;
  padding-top: 70px;
  transition: 0.5s ease;
}
mat-error{
  font-size: 12px;
  color: crimson;
  padding-bottom: 10px;
}

